/*大型桌面显示器:1200-1500*/
@media all and (max-width: 1500px) and (min-width: 1200px) {

	/*内容部分*/
	/*轮播部分*/
	#content .banner {
		width: 100%;
	}

	/*经典案例*/
	#content .case {
		height: 790px;
	}

	.case .case-banner {
		height: 475px;
	}

	.case .case-banner li {
		width: 192px;
		height: 317px;
	}

	.case .case-banner li.mid {
		width: 288px;
		height: 475px;
	}

	.case .case-banner li.slide {
		width: 240px;
		height: 396px;
	}
}

/*桌面显示器:900-1200*/
@media all and (max-width: 1200px) and (min-width: 900px) {

	/*内容部分*/
	/*轮播部分*/
	#content .banner {
		width: 100%;
		height: 573px;
	}

	/*经典案例*/
	#content .case {
		height: 740px;
	}

	.case .case-banner {
		height: 354px;
	}

	.case .case-banner li {
		width: 144px;
		height: 236px;
	}

	.case .case-banner li.mid {
		width: 216px;
		height: 354px;
	}

	.case .case-banner li.slide {
		width: 180px;
		height: 295px;
	}
}

/*小于900*/
@media all and (max-width: 900px) {

	/*轮播部分*/
	#content .banner {
		width: 100%;
	}

	/*经典案例*/
	#content .case {
		height: 690px;
		min-width: 350px;
	}

	/*研发伙伴*/
	.partner .brand {
		width: 85%;
		min-width: 350px;
		margin: 0 auto;
	}

	.partner .brand li {
		float: none;
		margin: 50px auto;
	}

	/*尾部*/
	#footer {
		height: 121px;
		min-width: 350px;
	}

	#footer ul {
		width: 80%;
		margin: auto;
	}
}

/*平板端:600-900*/
@media all and (max-width: 900px) and (min-width: 600px) {

	/*内容部分*/
	/*轮播播放*/
	#content .banner {
		width: 100%;
		height: 483px;
	}

	#content .banner ul {
		height: 102%;
	}

	/*经典案例*/
	.case .case-banner {
		height: 354px;
	}

	.case .case-banner li {
		width: 144px;
		height: 236px;
	}

	.case .case-banner li.mid {
		width: 216px;
		height: 354px;
	}

	.case .case-banner li.slide {
		width: 180px;
		height: 295px;
	}

	/*尾部*/

	#footer ul li {
		display: block;
		line-height: 35px;
		width: 100%;
		margin: 0;
	}
}

/*手机端:小于600*/
@media all and (max-width: 600px) {

	/*内容部分*/
	/*轮播部分*/
	#content .banner {
		height: 257px;
		min-width: 350px;
	}


	/*经典案例*/
	.case .c-title,
	.partner .p-title {
		width: 350px;
		background-position: bottom center;
	}

	.case .case-banner {
		width: 198px;
		height: 327px;
	}

	.case .case-banner li,
	.case .case-banner li.mid,
	.case .case-banner li.slide {
		width: 198px;
		height: 327px;
	}

	/*研发伙伴*/
	.partner .brand li:first-child {
		width: 36.3%;
	}

	.partner .brand li:nth-child(2) {
		width: 20%;
	}

	.partner .brand li:last-child {
		width: 35.5%;
	}

	.partner .brand li img {
		width: 100%;
		height: 100%;
	}

	/*尾部*/
	#footer ul li {
		display: block;
		font-size: 12px;
		line-height: 35px;
		width: 100%;
		margin: 0;
	}
}