/*内容部分*/
#content {
	width: 100%;
	margin-top: 70px;
}

/*轮播*/
#content .banner {
	position: relative;
	width: 100%;
	height: 850px;
}

.banner ul {
	position: relative;
	width: 100%;
	height: 100%;
}

.banner ul li {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.banner ul li a {
	width: 100%;
	height: 100%;
}

.banner ul li div {
	position: absolute;
}

.banner ul li:nth-child(1) {
	background: url("../images/bg2.jpg") center center no-repeat;
	background-size: contain;
}

.banner ul li:nth-child(2) {
	background: url("../images/bg1.jpg") center no-repeat;
	background-size: contain;
}

.banner ul li:nth-child(3) {
	background: url("../images/bg3.jpg") center no-repeat;
	background-size: contain;
}

.banner .tab {
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 80px;
	margin-left: -40px;
}

.banner .tab span {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 8px;
	border-radius: 100%;
	border: 2px solid #006597;
	background-color: #006597;
	cursor: pointer;
}

.banner .tab span.on {
	border: 2px solid purple;
	background-color: transparent;
}

/*名师风采*/
#content .case {
	position: relative;
	width: 100%;
	height: 920px;
	background: url("../img/index/bg.png") center/cover no-repeat;
}

.case .c-title,
.partner .p-title {
	width: 520px;
	height: 90px;
	margin: 0 auto;
	padding-top: 30px;
	background: url(../img/index/line.png) no-repeat left bottom;
}

.case .c-title img,
.partner .p-title img {
	display: block;
	width: 235px;
	height: 15px;
	margin: 0 auto;
}

.case .c-title p,
.partner .p-title p {
	margin-top: 30px;
	font-size: 18px;
	text-align: center;
}

.case .case-banner {
	position: relative;
	width: 85%;
	height: 593px;
	margin: 80px auto 0;
	overflow: hidden;
}

.case .case-banner ul {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 1000%;
	opacity: 0;
}

.case .case-banner li {
	position: relative;
	float: left;
	top: 50%;
	width: 240px;
	height: 395px;
	transform: translate(0, -50%);
	transition: .3s;
}

.case .case-banner li img {
	width: 100%;
	height: 100%;
}

.case .case-banner li.mid {
	width: 360px;
	height: 593px;
}

.case .case-banner li.slide {
	width: 300px;
	height: 494px;
}

.case .btn {
	position: absolute;
	top: 50%;
	width: 48px;
	height: 48px;
	transform: translate(0, -50%);
	cursor: pointer;
}

.case .btn.left {
	left: 50px;
}

.case .btn.right {
	right: 50px;
}

/*合作院校*/
#content .partner {
	height: 540px;
}

.partner .brand {
	width: 795px;
	margin: 150px auto;
}

.partner .brand li {
	float: left;
	width: 250px;
	height: 50px;
	text-align: center;
}

/*尾部*/
#footer {
	width: 90%;
	height: 60px;
	margin: auto;
	font-size: 16px;
	color: #ccc;
	border-top: 1px solid #ccc;
}

#footer ul {
	text-align: center;
}

#footer ul li {
	display: inline-block;
	/*height: 100%;*/
	text-align: center;
	line-height: 60px;
	margin: 0 30px;
}