body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

ol,
ul {
	list-style: none;
}

th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input,
textarea,
select {
	*font-size: 100%;
}

a {
	text-decoration: none;
}

i {
	vertical-align: middle;
	font-style: normal;
}

body {
	font: 12px/1.5 "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', "\5b8b\4f53", sans-serif;
}

div a {
	display: block;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}